body {
    font-family: Latha, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 1em;
}

button {
    margin-left: 0
}

.screen-side {
    background-color: #000000;
    height: 100%;
}

.side-screen-head {
    width: 100%;
    height: 12%;
}

.side-screen-row {
    width: 100%;
    height: 11%;
}



.vMiddle:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.vBottom:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.side-screen-head-middle {
    height: 100%;
    width: 34%;
    text-align: center;
    float: left;
    font-size: 1.6em;

}

.side-screen-head-right {
    height: 100%;
    width: 33%;
    text-align: center;
    float: right;

}

.side-screen-head-left {
    height: 100%;
    width: 33%;
    text-align: center;
    float: left;

}

.side-screen-head-top {
    height: 50%;
}

.side-screen-head-bottom {
    height: 50%;
}

.hRight {
    text-align: right;
    margin-right: 1em;
}

.hLeft {
    text-align: left;
    margin-Left: 1em;
}
.hMiddle {
    text-align: center;
    }

.green {
    color: #7CFF00;
}

.yellow {
    color: #fdff00;
}

.red {
    color: #ff0000;
}


.pageTitle {
    transform: translateY(50%);
    text-align: center;
    width:100%;
    height:100%;
    font-size: 1.4em;
}

.side-screen-row-middle {
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;

}

.side-screen-row-right {
    height: 100%;
    width: 40%;
    text-align: center;
    float: right;
    position: relative;

}

.side-screen-row-left {
    height: 100%;
    width: 40%;
    text-align: center;
    float: left;
    position: relative;

}
.side-screen-row-wleft {
    height: 100%;
    width: 48%;
    text-align: center;
    float: left;
    position: relative;
}

.side-screen-row-wright {
    height: 100%;
    width: 48%;
    text-align: center;
    float: right;
    position: relative;

}

.side-screen-row-middle-left {
    width: 50%;
    float: left;
    font-size: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.125em;
}

.side-screen-row-middle-right {
    width: 50%;
    float: right;
    font-size: 0.75em;
    margin-left: 0.5em;
    margin-right: 0.25em;
}

.side-screen-large-button-left {
    width: 100%;
    height: 70%;
    background-color: #7a7a7a;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.side-screen-vlarge-button-left {
    width: 100%;
    height: 90%;
    background-color: #7a7a7a;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.side-screen-vlarge-button-right {
    width: 100%;
    height: 90%;
    background-color: #7a7a7a;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.btn {
    border: none;
    display: block;
    
    font-family: inherit;
}

.side-screen-large-button-right:hover {
    background: #8F8F8F;
}

.side-screen-large-button-right:active {
    background: #7a7a7a;
}

.side-screen-large-button-left:hover {
    background: #8F8F8F;
}

.side-screen-large-button-left:active {
    background: #7a7a7a;
}

.side-screen-large-button-right {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7a7a7a;
    font-size: 1.5em;
    color: #ffffff;
}
.side-screen-half-button-right {
    width: 50%;
    height: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7a7a7a;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
    float: right;
    word-wrap: break-word;
    margin-left:50%;
}
.side-screen-half-button-left {
    width: 50%;
    height: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7a7a7a;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    float: right;
    word-wrap: break-word;

}
.btn-blue-edge {
    background: none;
border: 2px solid #0099ff;
box-sizing: border-box;
color: #0099ff;
}
.input-ss-1 {
    background: none;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    width:95%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.side-screen-half-row {
    width: 100%;
    height: 50%;
    transform: translateY(50%);
    position: absolute;
}
.keyboard-table {
    width:100%;
    height:38%;
}
tbody.keyboard-table > tr > td {
box-sizing: border-box;
background-color: #7a7a7a;
border: 1px solid black;
width: 12.5%;
text-align: center;
font-weight: bold;
font-size: 1.2em;
padding: 0px;
line-height: 0.8em;

}

tbody.keyboard-table > tr {
padding: 0px;
height: 16.7%;

}
.keyboard-button {
    width:100%;
    height:100%;
    font-size: 1.1em;
    padding: 0px;
    line-height: 1em;
    background-color: #7a7a7a;
    color: #ffffff;
}